:root {
    /* layout colors */
    --green: #3A8960;
    --beige: #E1D5CA;
    --black: #2D2E2F;

    font-size: 18px; /* 1rem is now 21px */
}

* {
    font-size: 1rem;
    font-family: "Nippo", sans-serif;
    font-weight: 400;
}

html, body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

section {
    flex-grow: 2;
    padding: 1.5rem;
}

strong {
    font-family: "Boxing", sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}

b { font-weight: 500; }

button {
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    padding: 0.4rem 0.7rem;
    display: block;
    margin: 1.5rem auto 0;
    text-align: center;
    font-weight: 400;
}

fieldset {
    border: none;
}

.error {
    color: red;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
}

#landing { position: fixed; }

#landing div {
    text-align: center;
    width: 50%;
    box-sizing: border-box;
}

#landing div img, #landing div a {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#landing img {
    margin-top: 30%;
}

#landing a {
    margin-top: 2rem;
}

.ouvinte {
    background-color: var(--beige);
    color: var(--black);
}

.artista {
    background-color: var(--black);
    color: var(--beige);
}

.ouvintesbtn {
    border-color: var(--black);
    color: var(--black);
}

.ouvintesbtn:hover {
    color: var(--beige);
    background-color: var(--black);
}

.artistasbtn {
    border-color: var(--beige);
    color: var(--beige);
}

.artistasbtn:hover {
    color: var(--black);
    background-color: var(--beige);
}

.artista input {
    color: var(--beige);
    border: 2px solid var(--beige);
    background: transparent;
    padding: 0.4rem 0.7rem;
    text-align: center;
    margin-bottom: -2px;
}

.artista input::placeholder {
    color: var(--beige);
    font-weight: 300;
}

.ouvinte input {
    color: var(--black);
    border: 2px solid var(--black);
    background: transparent;
    padding: 0.4rem 0.7rem;
    text-align: center;
    margin-bottom: -2px;
}

.ouvinte input::placeholder {
    color: var(--black);
    font-weight: 300;
}

#auth {
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    height: 90%;
    margin-top: 7%;
}

#auth .form {
    margin: 5rem 2rem;
}

#auth .logo {
    flex-basis: 100%;
    text-align: center;
}

.container:not(#auth), .container:not(#landing) {
    align-items: stretch;
    text-align: center;
}

.sidenav {
    width: 15%;
}

.sidenav h3 {
    margin-bottom: 3rem;
}

.sidenav button {
    font-weight: 500;
    margin: 1rem auto;
    width: 100%;
}

#bibliodrop:hover #biblionav {
    display: block;
}

#bibliodrop:hover #bibliobtn {
    margin: 0 auto -2px;
}

#pessoalbtn {
    margin: 0 auto -2px;
}

#pessoalnav:hover {
    margin: 0;
}

#pessoaldrop:hover #pessoalnav {
    display: block;
    margin: 0;
}

.dropdown-content a {
    color: var(--black);
    border: 2px solid var(--black);
    background: transparent;
    padding: 0.4rem 0.3rem;
    text-align: center;
    display: block;
    font-size: 0.9rem;
    width: 80%;
    margin: 0 auto -2px;
    float: none;
}

.dropdown-content .ouvintelink:hover {
    background-color: var(--black);
    color: var(--beige);
}

.dropdown-content .artistalink:hover {
    background-color: var(--beige);
    color: var(--black);
}

.dropdown-content {
    display: none;
}

.dropdown:not(:hover) .dropdown-content {
    display: none;
    height: 0;
    z-index: 1;
}

.dropdown:not(:hover) button {
    margin-bottom: -2px;
}

.dropdown .ouvintesbtn:hover {
    background-color: transparent;
    color: var(--black);
    cursor: default;
}

.ouvinte .sidenav {
    padding: 1.5rem;
    border-right: 2px solid var(--black);
}

.artista .sidenav {
    padding: 1.5rem;
    border-right: 2px solid var(--beige);
}

.biblioteca h2 {
    text-align: left;
}

.biblioteca h3 {
    margin: 0;
    text-align: left;
}

.biblioteca table {
    text-align: left;
    margin: 0 auto;
    display: table;
    width: 100%;
    border: 2px solid var(--black);
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 1rem;
    table-layout: fixed;
    white-space: nowrap;
}

.biblioteca table th:nth-child(1) {
    width: 30%;
}

.biblioteca table th:nth-child(2) {
    width: 10%;
}

.biblioteca table th:nth-child(3) {
    width: 10%;
}

.biblioteca table th:nth-child(4) {
    width: 7%;
}

.biblioteca table th:nth-child(5) {
    width: 10%;
}

.biblioteca table th:nth-child(6) {
    width: 2%;
}

.biblioteca th {
    border: 2px solid var(--black);
    padding: 0.2rem 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.biblioteca td {
    padding: 0.4rem 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}